body{
    padding: 15px 0;
}

/* header  */
header h1{
    font-size: 2em;
}

/* Main section  */
.money-manage h4, .money-manage h5, .money-manage span, .money-manage input{
    margin-bottom: .5em;

}

/* error  */
#error-income-expense{
    display: none;
    color: white;
}

#error-saving{
    display: none;
    color: white;
}